pkgbase = linux-lts
	pkgdesc = LTS Linux
	pkgver = 6.18.16
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.16.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.16.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drm-amdgpu-avoid-memory-allocation-in-the-critical-code-path-v3.patch
	source = 0003-drm-amdgpu-use-GFP_ATOMIC-instead-of-NOWAIT-in-the-critical-path.patch
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 4f21c01f4d04c1d1b3ed794153f8900802c92497be620b07c4869530f2d28ee3
	sha256sums = SKIP
	sha256sums = e5bda61fa4405571a0267cd8812329bb8a432a37efb50459461628d371849906
	sha256sums = c31b8c0ace123f5c1a0012a1254272eea9ac9cdd0d3e5d538ca6b11830dd01b0
	sha256sums = 0f482368b62c3cece941e2d3ba497bf322db59315df5c2f72500fc1318e4768e
	sha256sums = b364eae3a55fc2d3fd3029866b8f90430bc0c307cfa22a3e190ac1c13fcf8aa2
	b2sums = eaec61dd6db6047f345050e5daaaa76278fb9a56c49a3596a8d63d98060664fdabd5d742b91693cd724713e4381214141e8d3e81d989970d59831f71c8eca2a0
	b2sums = SKIP
	b2sums = 5b3597cab8b174ff41b3f17aae6d1376a155356f781542e2e176d66c5a6dee53f7a1db8e2b9540ce8246efac4e27476c882fc8cc8063f0f514ae09230b5aef0a
	b2sums = a71f78bea42d158fc9383f2bbb985dafa71274d2032876b67f84602c8085b1c53f3d36965e54e5fdbab5c0d7537c98d917bd7743d3cf373c1dcb6da3bc19f4e7
	b2sums = c9d4ec8fac86a9b6f0567c57f6d5be04d56f8efbc9dc1b183981dad38387d750b53c17fcdd295cb68a874bf50f81d117cfe94bd3a8d9e08e1918644ae8daa3e5
	b2sums = 05d8f2db31cf6bc81c8fd193a881d4bd8d3fa29cd5ff9e84aaaac53b99b43b28cd981b4d7d8172e379b6bf9b4365cfaa21e494816afe1e582b7918a56848b64e

pkgname = linux-lts
	pkgdesc = The LTS Linux kernel and modules
	license = Apache-2.0 OR MIT
	license = BSD-2-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = BSD-3-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause-Clear
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later OR BSD-3-Clause
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = GPL-2.0-or-later WITH GCC-exception-2.0
	license = ISC
	license = LGPL-2.0-or-later
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-or-later
	license = MIT
	license = MPL-1.1
	license = X11
	license = Zlib
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux kernel
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later WITH Linux-syscall-note
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR Linux-OpenIB OR BSD-2-Clause
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = (GPL-2.0-only WITH Linux-syscall-note) AND MIT
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-2-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR CDDL-1.0
	license = (GPL-2.0-only WITH Linux-syscall-note) OR Linux-OpenIB
	license = (GPL-2.0-only WITH Linux-syscall-note) OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later WITH Linux-syscall-note
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR MIT
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = ISC
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-only OR MIT
	license = LGPL-2.1-only WITH Linux-syscall-note
	license = LGPL-2.1-or-later
	license = LGPL-2.1-or-later OR BSD-2-Clause
	license = LGPL-2.1-or-later WITH Linux-syscall-note
	license = MIT
	license = Zlib
	depends = pahole
	provides = LINUX-HEADERS

pkgname = linux-lts-docs
	pkgdesc = Documentation for the LTS Linux kernel
	license = BSD-3-Clause
	license = GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only OR GFDL-1.2-no-invariants-only
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR CC-BY-4.0
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = LGPL-2.1-only OR BSD-2-Clause
	license = MIT
