CONFIG_AHCI_CEVA=m
CONFIG_ALTERA_PR_IP_CORE_PLAT=m
CONFIG_ARCX_ANYBUS_CONTROLLER=m
CONFIG_ARM_MHU_V3=m
CONFIG_BACKLIGHT_LED=m
CONFIG_BACKLIGHT_TPS65217=m
CONFIG_BATTERY_ACT8945A=m
CONFIG_BATTERY_QCOM_BATTMGR=m
CONFIG_BD957XMUF_WATCHDOG=m
CONFIG_CAN_CTUCANFD_PLATFORM=m
CONFIG_CAN_EMS_PCMCIA=m
CONFIG_CAN_FLEXCAN=m
CONFIG_CAN_GRCAN=m
CONFIG_CDNS_I3C_MASTER=m
CONFIG_CHARGER_DETECTOR_MAX14656=m
CONFIG_CHARGER_MAX77650=m
CONFIG_CHARGER_RK817=m
CONFIG_CHARGER_TPS65217=m
CONFIG_CHARGER_UCS1002=m
CONFIG_COMEDI=m
CONFIG_COMEDI_8255_PCI=m
CONFIG_COMEDI_8255_SA=m
CONFIG_COMEDI_ADDI_APCI_1032=m
CONFIG_COMEDI_ADDI_APCI_1500=m
CONFIG_COMEDI_ADDI_APCI_1516=m
CONFIG_COMEDI_ADDI_APCI_1564=m
CONFIG_COMEDI_ADDI_APCI_16XX=m
CONFIG_COMEDI_ADDI_APCI_2032=m
CONFIG_COMEDI_ADDI_APCI_2200=m
CONFIG_COMEDI_ADDI_APCI_3120=m
CONFIG_COMEDI_ADDI_APCI_3501=m
CONFIG_COMEDI_ADDI_APCI_3XXX=m
CONFIG_COMEDI_ADL_PCI6208=m
CONFIG_COMEDI_ADL_PCI7X3X=m
CONFIG_COMEDI_ADL_PCI8164=m
CONFIG_COMEDI_ADL_PCI9111=m
CONFIG_COMEDI_ADL_PCI9118=m
CONFIG_COMEDI_ADQ12B=m
CONFIG_COMEDI_ADV_PCI1710=m
CONFIG_COMEDI_ADV_PCI1720=m
CONFIG_COMEDI_ADV_PCI1723=m
CONFIG_COMEDI_ADV_PCI1724=m
CONFIG_COMEDI_ADV_PCI1760=m
CONFIG_COMEDI_ADV_PCI_DIO=m
CONFIG_COMEDI_AIO_AIO12_8=m
CONFIG_COMEDI_AIO_IIRO_16=m
CONFIG_COMEDI_AMPLC_DIO200_ISA=m
CONFIG_COMEDI_AMPLC_DIO200_PCI=m
CONFIG_COMEDI_AMPLC_PC236_ISA=m
CONFIG_COMEDI_AMPLC_PC236_PCI=m
CONFIG_COMEDI_AMPLC_PC263_ISA=m
CONFIG_COMEDI_AMPLC_PC263_PCI=m
CONFIG_COMEDI_AMPLC_PCI224=m
CONFIG_COMEDI_AMPLC_PCI230=m
CONFIG_COMEDI_BOND=m
CONFIG_COMEDI_C6XDIGIO=m
CONFIG_COMEDI_CB_DAS16_CS=m
CONFIG_COMEDI_CB_PCIDAS64=m
CONFIG_COMEDI_CB_PCIDAS=m
CONFIG_COMEDI_CB_PCIDDA=m
CONFIG_COMEDI_CB_PCIMDAS=m
CONFIG_COMEDI_CB_PCIMDDA=m
CONFIG_COMEDI_CONTEC_PCI_DIO=m
CONFIG_COMEDI_DAC02=m
CONFIG_COMEDI_DAQBOARD2000=m
CONFIG_COMEDI_DAS08_CS=m
CONFIG_COMEDI_DAS08_ISA=m
CONFIG_COMEDI_DAS08_PCI=m
CONFIG_COMEDI_DAS16=m
CONFIG_COMEDI_DAS16M1=m
CONFIG_COMEDI_DAS1800=m
CONFIG_COMEDI_DAS6402=m
CONFIG_COMEDI_DAS800=m
CONFIG_COMEDI_DMM32AT=m
CONFIG_COMEDI_DT2801=m
CONFIG_COMEDI_DT2811=m
CONFIG_COMEDI_DT2814=m
CONFIG_COMEDI_DT2815=m
CONFIG_COMEDI_DT2817=m
CONFIG_COMEDI_DT282X=m
CONFIG_COMEDI_DT3000=m
CONFIG_COMEDI_DT9812=m
CONFIG_COMEDI_DYNA_PCI10XX=m
CONFIG_COMEDI_FL512=m
CONFIG_COMEDI_GSC_HPDI=m
CONFIG_COMEDI_ICP_MULTI=m
CONFIG_COMEDI_II_PCI20KC=m
CONFIG_COMEDI_ISA_DRIVERS=y
CONFIG_COMEDI_JR3_PCI=m
CONFIG_COMEDI_KE_COUNTER=m
CONFIG_COMEDI_ME4000=m
CONFIG_COMEDI_ME_DAQ=m
CONFIG_COMEDI_MF6X4=m
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_COMEDI_MPC624=m
CONFIG_COMEDI_MULTIQ3=m
CONFIG_COMEDI_NI_6527=m
CONFIG_COMEDI_NI_65XX=m
CONFIG_COMEDI_NI_660X=m
CONFIG_COMEDI_NI_670X=m
CONFIG_COMEDI_NI_ATMIO16D=m
CONFIG_COMEDI_NI_ATMIO=m
CONFIG_COMEDI_NI_AT_A2150=m
CONFIG_COMEDI_NI_AT_AO=m
CONFIG_COMEDI_NI_DAQ_700_CS=m
CONFIG_COMEDI_NI_DAQ_DIO24_CS=m
CONFIG_COMEDI_NI_LABPC_CS=m
CONFIG_COMEDI_NI_LABPC_ISA=m
CONFIG_COMEDI_NI_LABPC_PCI=m
CONFIG_COMEDI_NI_MIO_CS=m
CONFIG_COMEDI_NI_PCIDIO=m
CONFIG_COMEDI_NI_PCIMIO=m
CONFIG_COMEDI_NI_USB6501=m
CONFIG_COMEDI_PARPORT=m
CONFIG_COMEDI_PCI_DRIVERS=m
CONFIG_COMEDI_PCL711=m
CONFIG_COMEDI_PCL724=m
CONFIG_COMEDI_PCL726=m
CONFIG_COMEDI_PCL730=m
CONFIG_COMEDI_PCL812=m
CONFIG_COMEDI_PCL816=m
CONFIG_COMEDI_PCL818=m
CONFIG_COMEDI_PCM3724=m
CONFIG_COMEDI_PCMAD=m
CONFIG_COMEDI_PCMCIA_DRIVERS=m
CONFIG_COMEDI_PCMDA12=m
CONFIG_COMEDI_PCMMIO=m
CONFIG_COMEDI_PCMUIO=m
CONFIG_COMEDI_QUATECH_DAQP_CS=m
CONFIG_COMEDI_RTD520=m
CONFIG_COMEDI_RTI800=m
CONFIG_COMEDI_RTI802=m
CONFIG_COMEDI_S526=m
CONFIG_COMEDI_S626=m
CONFIG_COMEDI_TEST=m
CONFIG_COMEDI_USBDUX=m
CONFIG_COMEDI_USBDUXFAST=m
CONFIG_COMEDI_USBDUXSIGMA=m
CONFIG_COMEDI_USB_DRIVERS=m
CONFIG_COMEDI_VMK80XX=m
CONFIG_COMMON_CLK_AXI_CLKGEN=m
CONFIG_COMMON_CLK_BD718XX=m
CONFIG_COMMON_CLK_CDCE925=m
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_COMMON_CLK_LOCHNAGAR=m
CONFIG_COMMON_CLK_LOONGSON2=y
CONFIG_COMMON_CLK_MAX77686=m
CONFIG_COMMON_CLK_RK808=m
CONFIG_COMMON_CLK_RS9_PCIE=m
CONFIG_COMMON_CLK_S2MPS11=m
CONFIG_COMMON_CLK_SI514=m
CONFIG_COMMON_CLK_SI521XX=m
CONFIG_COMMON_CLK_SI570=m
CONFIG_COMMON_CLK_VC3=m
CONFIG_COMMON_CLK_VC5=m
CONFIG_COMMON_CLK_VC7=m
CONFIG_COMMON_CLK_XLNX_CLKWZRD=m
CONFIG_CORDIC=y
CONFIG_CPCAP_ADC=m
CONFIG_CPU_HAS_LASX=y
CONFIG_CPU_HAS_LBT=y
CONFIG_CPU_HAS_LSX=y
CONFIG_CPU_THERMAL=y
CONFIG_CRC16=y
CONFIG_CRC7=y
CONFIG_CRC8=y
CONFIG_CRC_ITU_T=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_CMAC=y
CONFIG_CRYPTO_CRC32=y
CONFIG_CRYPTO_CRC32_LOONGARCH=y
CONFIG_CRYPTO_CTS=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_CRYPTO_DEV_CCREE=m
CONFIG_CRYPTO_DEV_CHELSIO_TLS=m
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_FCRYPT=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_CRYPTO_LIB_CURVE25519=y
CONFIG_CRYPTO_MICHAEL_MIC=y
CONFIG_CRYPTO_PCBC=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_CXL_MEM_RAW_COMMANDS=y
CONFIG_DA9062_THERMAL=m
CONFIG_DEBUG_INFO_COMPRESSED_ZSTD=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_PAGE_REF=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_STACKOVERFLOW=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_DMABUF_MOVE_NOTIFY=y
CONFIG_DMA_NUMA_CMA=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_DM_DEBUG_BLOCK_STACK_TRACING=y
CONFIG_DNS_RESOLVER=y
CONFIG_DRM_ANALOGIX_ANX6345=m
CONFIG_DRM_ANALOGIX_ANX7625=m
CONFIG_DRM_ARCPGU=m
CONFIG_DRM_CDNS_DSI=m
CONFIG_DRM_CDNS_MHDP8546=m
CONFIG_DRM_CHIPONE_ICN6211=m
CONFIG_DRM_CHRONTEL_CH7033=m
CONFIG_DRM_DISPLAY_CONNECTOR=m
CONFIG_DRM_ETNAVIV=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_DRM_I2C_ADV7511_AUDIO=y
CONFIG_DRM_ITE_IT6505=m
CONFIG_DRM_ITE_IT66121=m
CONFIG_DRM_KOMEDA=m
CONFIG_DRM_LOGICVC=m
CONFIG_DRM_LONTIUM_LT8912B=m
CONFIG_DRM_LONTIUM_LT9211=m
CONFIG_DRM_LONTIUM_LT9611=m
CONFIG_DRM_LONTIUM_LT9611UXC=m
CONFIG_DRM_LVDS_CODEC=m
CONFIG_DRM_MEGACHIPS_STDPXXXX_GE_B850V3_FW=m
CONFIG_DRM_NWL_MIPI_DSI=m
CONFIG_DRM_NXP_PTN3460=m
CONFIG_DRM_PANEL_ABT_Y030XX067A=m
CONFIG_DRM_PANEL_ARM_VERSATILE=m
CONFIG_DRM_PANEL_ASUS_Z00T_TM5P5_NT35596=m
CONFIG_DRM_PANEL_BOE_BF060Y8M_AJ0=m
CONFIG_DRM_PANEL_BOE_HIMAX8279D=m
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=m
CONFIG_DRM_PANEL_DSI_CM=m
CONFIG_DRM_PANEL_EBBG_FT8719=m
CONFIG_DRM_PANEL_EDP=m
CONFIG_DRM_PANEL_ELIDA_KD35T133=m
CONFIG_DRM_PANEL_FEIXIN_K101_IM2BA02=m
CONFIG_DRM_PANEL_FEIYANG_FY07024DI26A30D=m
CONFIG_DRM_PANEL_HIMAX_HX8394=m
CONFIG_DRM_PANEL_ILITEK_IL9322=m
CONFIG_DRM_PANEL_ILITEK_ILI9805=m
CONFIG_DRM_PANEL_ILITEK_ILI9881C=m
CONFIG_DRM_PANEL_ILITEK_ILI9882T=m
CONFIG_DRM_PANEL_INNOLUX_EJ030NA=m
CONFIG_DRM_PANEL_INNOLUX_P079ZCA=m
CONFIG_DRM_PANEL_JADARD_JD9365DA_H3=m
CONFIG_DRM_PANEL_JDI_LPM102A188A=m
CONFIG_DRM_PANEL_JDI_LT070ME05000=m
CONFIG_DRM_PANEL_JDI_R63452=m
CONFIG_DRM_PANEL_KHADAS_TS050=m
CONFIG_DRM_PANEL_KINGDISPLAY_KD097D04=m
CONFIG_DRM_PANEL_LEADTEK_LTK050H3146W=m
CONFIG_DRM_PANEL_LEADTEK_LTK500HD1829=m
CONFIG_DRM_PANEL_LG_LB035Q02=m
CONFIG_DRM_PANEL_LG_LG4573=m
CONFIG_DRM_PANEL_LG_SW43408=m
CONFIG_DRM_PANEL_LVDS=m
CONFIG_DRM_PANEL_MAGNACHIP_D53E6EA8966=m
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=m
CONFIG_DRM_PANEL_NEC_NL8048HL11=m
CONFIG_DRM_PANEL_NEWVISION_NV3051D=m
CONFIG_DRM_PANEL_NEWVISION_NV3052C=m
CONFIG_DRM_PANEL_NOVATEK_NT35510=m
CONFIG_DRM_PANEL_NOVATEK_NT35560=m
CONFIG_DRM_PANEL_NOVATEK_NT35950=m
CONFIG_DRM_PANEL_NOVATEK_NT36523=m
CONFIG_DRM_PANEL_NOVATEK_NT36672A=m
CONFIG_DRM_PANEL_NOVATEK_NT39016=m
CONFIG_DRM_PANEL_OLIMEX_LCD_OLINUXINO=m
CONFIG_DRM_PANEL_ORISETECH_OTM8009A=m
CONFIG_DRM_PANEL_OSD_OSD101T2587_53TS=m
CONFIG_DRM_PANEL_PANASONIC_VVX10F034N00=m
CONFIG_DRM_PANEL_RAYDIUM_RM67191=m
CONFIG_DRM_PANEL_RAYDIUM_RM68200=m
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=m
CONFIG_DRM_PANEL_RAYDIUM_RM69380=m
CONFIG_DRM_PANEL_RONBO_RB070D30=m
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=m
CONFIG_DRM_PANEL_SAMSUNG_DB7430=m
CONFIG_DRM_PANEL_SAMSUNG_LD9040=m
CONFIG_DRM_PANEL_SAMSUNG_S6D16D0=m
CONFIG_DRM_PANEL_SAMSUNG_S6D27A1=m
CONFIG_DRM_PANEL_SAMSUNG_S6D7AA0=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA7=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3HA2=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63J0X03=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63M0=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63M0_DSI=m
CONFIG_DRM_PANEL_SAMSUNG_S6E88A0_AMS452EF01=m
CONFIG_DRM_PANEL_SAMSUNG_S6E8AA0=m
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=m
CONFIG_DRM_PANEL_SEIKO_43WVF1G=m
CONFIG_DRM_PANEL_SHARP_LQ101R1SX01=m
CONFIG_DRM_PANEL_SHARP_LS037V7DW01=m
CONFIG_DRM_PANEL_SHARP_LS043T1LE01=m
CONFIG_DRM_PANEL_SHARP_LS060T1SX01=m
CONFIG_DRM_PANEL_SIMPLE=m
CONFIG_DRM_PANEL_SITRONIX_ST7701=m
CONFIG_DRM_PANEL_SITRONIX_ST7703=m
CONFIG_DRM_PANEL_SITRONIX_ST7789V=m
CONFIG_DRM_PANEL_SONY_ACX565AKM=m
CONFIG_DRM_PANEL_SONY_TD4353_JDI=m
CONFIG_DRM_PANEL_SONY_TULIP_TRULY_NT35521=m
CONFIG_DRM_PANEL_STARTEK_KD070FHFID015=m
CONFIG_DRM_PANEL_SYNAPTICS_R63353=m
CONFIG_DRM_PANEL_TDO_TL070WSH30=m
CONFIG_DRM_PANEL_TPO_TD028TTEC1=m
CONFIG_DRM_PANEL_TPO_TD043MTEA1=m
CONFIG_DRM_PANEL_TPO_TPG110=m
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=m
CONFIG_DRM_PANEL_VISIONOX_R66451=m
CONFIG_DRM_PANEL_VISIONOX_RM69299=m
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=m
CONFIG_DRM_PANEL_XINPENG_XPP055C272=m
CONFIG_DRM_PARADE_PS8622=m
CONFIG_DRM_PARADE_PS8640=m
CONFIG_DRM_SAMSUNG_DSIM=m
CONFIG_DRM_SII902X=m
CONFIG_DRM_SII9234=m
CONFIG_DRM_SIL_SII8620=m
CONFIG_DRM_SIMPLE_BRIDGE=m
CONFIG_DRM_THINE_THC63LVD1024=m
CONFIG_DRM_TI_DLPC3433=m
CONFIG_DRM_TI_SN65DSI83=m
CONFIG_DRM_TI_SN65DSI86=m
CONFIG_DRM_TI_TFP410=m
CONFIG_DRM_TI_TPD12S015=m
CONFIG_DRM_TOSHIBA_TC358762=m
CONFIG_DRM_TOSHIBA_TC358764=m
CONFIG_DRM_TOSHIBA_TC358767=m
CONFIG_DRM_TOSHIBA_TC358768=m
CONFIG_DRM_TOSHIBA_TC358775=m
CONFIG_DTPM=y
CONFIG_DVB_CXD2880=m
CONFIG_DVB_DDBRIDGE_MSIENABLE=y
CONFIG_DVB_DEMUX_SECTION_LOSS_LOG=y
CONFIG_DVB_DIB9000=m
CONFIG_DVB_LGS8GL5=m
CONFIG_DVB_LNBH29=m
CONFIG_DVB_MN88443X=m
CONFIG_DVB_S5H1432=m
CONFIG_DVB_ULE_DEBUG=y
CONFIG_DWMAC_DWC_QOS_ETH=m
CONFIG_DWMAC_INTEL_PLAT=m
CONFIG_DW_AXI_DMAC=m
CONFIG_DW_I3C_MASTER=m
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_EEPROM_93XX46=m
CONFIG_EEPROM_AT25=m
CONFIG_EFI_TEST=m
CONFIG_EFS_FS=m
CONFIG_EVM=y
CONFIG_EVM_ADD_XATTRS=y
CONFIG_EVM_EXTRA_SMACK_XATTRS=y
CONFIG_EXPERT=y
CONFIG_EZCHIP_NPS_MANAGEMENT_ENET=m
CONFIG_FARSYNC=m
CONFIG_FB_3DFX=m
CONFIG_FB_3DFX_ACCEL=y
CONFIG_FB_ARK=m
CONFIG_FB_ASILIANT=y
CONFIG_FB_ATY128=m
CONFIG_FB_ATY=m
CONFIG_FB_ATY_CT=y
CONFIG_FB_ATY_GENERIC_LCD=y
CONFIG_FB_ATY_GX=y
CONFIG_FB_CARMINE=m
CONFIG_FB_CIRRUS=m
CONFIG_FB_CYBER2000=m
CONFIG_FB_GOLDFISH=m
CONFIG_FB_I740=m
CONFIG_FB_IBM_GXT4500=m
CONFIG_FB_IMSTT=y
CONFIG_FB_KYRO=m
CONFIG_FB_MATROX=m
CONFIG_FB_MATROX_G=y
CONFIG_FB_MATROX_I2C=m
CONFIG_FB_MATROX_MAVEN=m
CONFIG_FB_MATROX_MILLENIUM=y
CONFIG_FB_MATROX_MYSTIQUE=y
CONFIG_FB_MB862XX=m
CONFIG_FB_METRONOME=m
CONFIG_FB_NEOMAGIC=m
CONFIG_FB_OPENCORES=m
CONFIG_FB_PM2=m
CONFIG_FB_PM2_FIFO_DISCONNECT=y
CONFIG_FB_PM3=m
CONFIG_FB_RIVA=m
CONFIG_FB_RIVA_I2C=y
CONFIG_FB_S1D13XXX=m
CONFIG_FB_S3=m
CONFIG_FB_SAVAGE=m
CONFIG_FB_SAVAGE_ACCEL=y
CONFIG_FB_SAVAGE_I2C=y
CONFIG_FB_SIS=m
CONFIG_FB_SIS_300=y
CONFIG_FB_SIS_315=y
CONFIG_FB_SM501=m
CONFIG_FB_SM712=m
CONFIG_FB_SM750=m
CONFIG_FB_SMSCUFX=m
CONFIG_FB_SSD1307=m
CONFIG_FB_TFT=m
CONFIG_FB_TFT_AGM1264K_FL=m
CONFIG_FB_TFT_BD663474=m
CONFIG_FB_TFT_HX8340BN=m
CONFIG_FB_TFT_HX8347D=m
CONFIG_FB_TFT_HX8353D=m
CONFIG_FB_TFT_HX8357D=m
CONFIG_FB_TFT_ILI9163=m
CONFIG_FB_TFT_ILI9320=m
CONFIG_FB_TFT_ILI9325=m
CONFIG_FB_TFT_ILI9340=m
CONFIG_FB_TFT_ILI9341=m
CONFIG_FB_TFT_ILI9481=m
CONFIG_FB_TFT_ILI9486=m
CONFIG_FB_TFT_PCD8544=m
CONFIG_FB_TFT_RA8875=m
CONFIG_FB_TFT_S6D02A1=m
CONFIG_FB_TFT_S6D1121=m
CONFIG_FB_TFT_SEPS525=m
CONFIG_FB_TFT_SH1106=m
CONFIG_FB_TFT_SSD1289=m
CONFIG_FB_TFT_SSD1305=m
CONFIG_FB_TFT_SSD1306=m
CONFIG_FB_TFT_SSD1331=m
CONFIG_FB_TFT_SSD1351=m
CONFIG_FB_TFT_ST7735R=m
CONFIG_FB_TFT_ST7789V=m
CONFIG_FB_TFT_TINYLCD=m
CONFIG_FB_TFT_TLS8204=m
CONFIG_FB_TFT_UC1611=m
CONFIG_FB_TFT_UC1701=m
CONFIG_FB_TFT_UPD161704=m
CONFIG_FB_TRIDENT=m
CONFIG_FB_UDL=m
CONFIG_FB_UVESA=m
CONFIG_FB_VIRTUAL=m
CONFIG_FB_VOODOO1=m
CONFIG_FB_VT8623=m
CONFIG_FIRMWARE_EDID=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_FONT_10x18=y
CONFIG_FONT_6x10=y
CONFIG_FONT_6x11=y
CONFIG_FONT_6x8=y
CONFIG_FONT_7x14=y
CONFIG_FONT_ACORN_8x8=y
CONFIG_FONT_MINI_4x6=y
CONFIG_FONT_PEARL_8x8=y
CONFIG_FONT_SUN12x22=y
CONFIG_FONT_SUN8x16=y
CONFIG_FPGA_MGR_ICE40_SPI=m
CONFIG_FRAMER=m
CONFIG_FRAMER_PEF2256=m
CONFIG_FSI=m
CONFIG_FSI_MASTER_ASPEED=m
CONFIG_FSI_MASTER_GPIO=m
CONFIG_FSI_MASTER_HUB=m
CONFIG_FSI_MASTER_I2CR=m
CONFIG_FSI_NEW_DEV_NODE=y
CONFIG_FSI_OCC=m
CONFIG_FSI_SBEFIFO=m
CONFIG_FSI_SCOM=m
CONFIG_FSL_EDMA=m
CONFIG_FTL=m
CONFIG_GADGET_UAC1=y
CONFIG_GADGET_UAC1_LEGACY=y
CONFIG_GEMINI_ETHERNET=m
CONFIG_GOLDFISH=y
CONFIG_GOLDFISH_PIPE=m
CONFIG_GOLDFISH_TTY=m
CONFIG_GPIO_74X164=m
CONFIG_GPIO_74XX_MMIO=m
CONFIG_GPIO_ADNP=m
CONFIG_GPIO_ALTERA=m
CONFIG_GPIO_BD71815=m
CONFIG_GPIO_BD71828=m
CONFIG_GPIO_CADENCE=m
CONFIG_GPIO_FTGPIO010=y
CONFIG_GPIO_GRGPIO=m
CONFIG_GPIO_GW_PLD=m
CONFIG_GPIO_HLWD=m
CONFIG_GPIO_LOGICVC=m
CONFIG_GPIO_LOONGSON_64BIT=m
CONFIG_GPIO_LP87565=m
CONFIG_GPIO_MAX77620=m
CONFIG_GPIO_MAX77650=m
CONFIG_GPIO_MOXTET=m
CONFIG_GPIO_SIFIVE=y
CONFIG_GPIO_STMPE=y
CONFIG_GPIO_SYSCON=m
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_TC3589X=y
CONFIG_GPIO_TPS65218=m
CONFIG_GPIO_WATCHDOG=m
CONFIG_GPIO_WCD934X=m
CONFIG_GPIO_XILINX=m
CONFIG_GREYBUS=m
CONFIG_GREYBUS_AUDIO=m
CONFIG_GREYBUS_AUDIO_APB_CODEC=m
CONFIG_GREYBUS_BEAGLEPLAY=m
CONFIG_GREYBUS_BOOTROM=m
CONFIG_GREYBUS_BRIDGED_PHY=m
CONFIG_GREYBUS_ES2=m
CONFIG_GREYBUS_FIRMWARE=m
CONFIG_GREYBUS_GPIO=m
CONFIG_GREYBUS_HID=m
CONFIG_GREYBUS_I2C=m
CONFIG_GREYBUS_LIGHT=m
CONFIG_GREYBUS_LOG=m
CONFIG_GREYBUS_LOOPBACK=m
CONFIG_GREYBUS_POWER=m
CONFIG_GREYBUS_PWM=m
CONFIG_GREYBUS_RAW=m
CONFIG_GREYBUS_SDIO=m
CONFIG_GREYBUS_SPI=m
CONFIG_GREYBUS_UART=m
CONFIG_GREYBUS_USB=m
CONFIG_GREYBUS_VIBRATOR=m
CONFIG_HD44780=m
CONFIG_HDLC=m
CONFIG_HDLC_CISCO=m
CONFIG_HDLC_FR=m
CONFIG_HDLC_PPP=m
CONFIG_HDLC_RAW=m
CONFIG_HDLC_RAW_ETH=m
CONFIG_HDLC_X25=m
CONFIG_HI6421V600_IRQ=m
CONFIG_HIBERNATION_COMP_LZ4=y
CONFIG_HID_CHICONY=m
CONFIG_HID_LOGITECH=m
CONFIG_HID_PICOLCD_BACKLIGHT=y
CONFIG_HID_PICOLCD_CIR=y
CONFIG_HID_PICOLCD_FB=y
CONFIG_HID_PICOLCD_LCD=y
CONFIG_HID_PICOLCD_LEDS=y
CONFIG_HIPPI=y
CONFIG_HISI_HIKEY_USB=m
CONFIG_HMS_ANYBUSS_BUS=m
CONFIG_HMS_PROFINET=m
CONFIG_HPFS_FS=m
CONFIG_HSI=m
CONFIG_HSI_CHAR=m
CONFIG_HT16K33=m
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP_DEFAULT_ON=y
CONFIG_HW_RANDOM_CCTRNG=m
CONFIG_I2CR_SCOM=m
CONFIG_I2C_ARB_GPIO_CHALLENGE=m
CONFIG_I2C_DEMUX_PINCTRL=m
CONFIG_I2C_FSI=m
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_I2C_HID_OF_ELAN=m
CONFIG_I2C_HID_OF_GOODIX=m
CONFIG_I2C_LS2X=m
CONFIG_I2C_MUX_GPMUX=m
CONFIG_I2C_MUX_PINCTRL=m
CONFIG_I2C_RK3X=m
CONFIG_I3C=m
CONFIG_IMA=y
CONFIG_IMA_APPRAISE=y
CONFIG_IMA_APPRAISE_MODSIG=y
CONFIG_IMA_ARCH_POLICY=y
CONFIG_IMA_DEFAULT_HASH_SHA512=y
CONFIG_IMA_WRITE_POLICY=y
CONFIG_IMG_ASCII_LCD=m
CONFIG_INFTL=m
CONFIG_INIT_STACK_NONE=y
CONFIG_INPUT_ATMEL_CAPTOUCH=m
CONFIG_INPUT_CPCAP_PWRBUTTON=m
CONFIG_INPUT_LEDS=m
CONFIG_INPUT_MAX77650_ONKEY=m
CONFIG_INPUT_RK805_PWRKEY=m
CONFIG_INPUT_STPMIC1_ONKEY=m
CONFIG_INPUT_TPS65218_PWRBUTTON=m
CONFIG_INPUT_TPS65219_PWRBUTTON=m
CONFIG_IP_DCCP=m
CONFIG_IP_PNP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_RARP=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_IR_GPIO_CIR=m
CONFIG_IR_GPIO_TX=m
CONFIG_IR_HIX5HD2=m
CONFIG_IR_PWM_TX=m
CONFIG_IR_SPI=m
CONFIG_JFFS2_COMPRESSION_OPTIONS=y
CONFIG_JFFS2_FS_WBUF_VERIFY=y
CONFIG_JFFS2_LZO=y
CONFIG_JFFS2_RUBIN=y
CONFIG_KEYBOARD_BCM=y
CONFIG_KEYBOARD_CAP11XX=y
CONFIG_KEYBOARD_GOLDFISH_EVENTS=y
CONFIG_KEYBOARD_OMAP4=y
CONFIG_KEYBOARD_STMPE=y
CONFIG_KEYBOARD_TC3589X=y
CONFIG_KFENCE_STATIC_KEYS=y
CONFIG_KGDB=y
CONFIG_KS0108=m
CONFIG_LAN966X_SWITCH=m
CONFIG_LAPB=m
CONFIG_LAPBETHER=m
CONFIG_LCD2S=m
CONFIG_LEDS_AAT1290=m
CONFIG_LEDS_AN30259A=m
CONFIG_LEDS_AW2013=m
CONFIG_LEDS_BCM6328=m
CONFIG_LEDS_BCM6358=m
CONFIG_LEDS_CPCAP=m
CONFIG_LEDS_CR0014114=m
CONFIG_LEDS_EL15203000=m
CONFIG_LEDS_GROUP_MULTICOLOR=m
CONFIG_LEDS_IS31FL32XX=m
CONFIG_LEDS_KTD2692=m
CONFIG_LEDS_LM3692X=m
CONFIG_LEDS_LM3697=m
CONFIG_LEDS_LP5521=m
CONFIG_LEDS_LP5523=m
CONFIG_LEDS_LP5562=m
CONFIG_LEDS_LP55XX_COMMON=m
CONFIG_LEDS_LP8501=m
CONFIG_LEDS_LP8860=m
CONFIG_LEDS_MAX5970=m
CONFIG_LEDS_MAX77650=m
CONFIG_LEDS_MAX77693=m
CONFIG_LEDS_MT6360=m
CONFIG_LEDS_QCOM_LPG=m
CONFIG_LEDS_RT4505=m
CONFIG_LITEX_LITEETH=m
CONFIG_LITEX_SOC_CONTROLLER=m
CONFIG_LIVEPATCH=y
CONFIG_LOONGSON2_GUTS=m
CONFIG_LOONGSON2_PM=y
CONFIG_LOONGSON2_THERMAL=m
CONFIG_LS2X_APB_DMA=m
CONFIG_MAX77620_THERMAL=m
CONFIG_MAX77620_WATCHDOG=m
CONFIG_MCTP_TRANSPORT_I3C=m
CONFIG_MDIO_BUS_MUX_GPIO=m
CONFIG_MDIO_BUS_MUX_MMIOREG=m
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=m
CONFIG_MDIO_HISI_FEMAC=m
CONFIG_MDIO_IPQ4019=m
CONFIG_MDIO_IPQ8064=m
CONFIG_MDIO_OCTEON=m
CONFIG_MD_RAID0=y
CONFIG_MD_RAID10=y
CONFIG_MD_RAID1=y
CONFIG_MD_RAID456=y
CONFIG_MEDIA_SDR_SUPPORT=y
CONFIG_MEDIA_SUPPORT_FILTER=y
CONFIG_MFD_ACT8945A=m
CONFIG_MFD_AS3722=m
CONFIG_MFD_ATMEL_FLEXCOM=m
CONFIG_MFD_ATMEL_HLCDC=m
CONFIG_MFD_CPCAP=m
CONFIG_MFD_GATEWORKS_GSC=m
CONFIG_MFD_HI6421_PMIC=m
CONFIG_MFD_HI6421_SPMI=m
CONFIG_MFD_LOCHNAGAR=y
CONFIG_MFD_MAX5970=m
CONFIG_MFD_MAX77620=y
CONFIG_MFD_MAX77650=m
CONFIG_MFD_MAX77686=m
CONFIG_MFD_MAX77714=m
CONFIG_MFD_NTXEC=m
CONFIG_MFD_QCOM_PM8008=m
CONFIG_MFD_RK8XX_I2C=m
CONFIG_MFD_RK8XX_SPI=m
CONFIG_MFD_RN5T618=m
CONFIG_MFD_ROHM_BD71828=m
CONFIG_MFD_ROHM_BD718XX=m
CONFIG_MFD_ROHM_BD957XMUF=m
CONFIG_MFD_RSMU_I2C=m
CONFIG_MFD_RSMU_SPI=m
CONFIG_MFD_SEC_CORE=m
CONFIG_MFD_STMPE=y
CONFIG_MFD_STPMIC1=m
CONFIG_MFD_TC3589X=y
CONFIG_MFD_TI_LP87565=m
CONFIG_MFD_TPS65217=m
CONFIG_MFD_TPS65218=m
CONFIG_MFD_TPS65219=m
CONFIG_MIPI_I3C_HCI=m
CONFIG_MMC_LITEX=m
CONFIG_MMC_SDHCI_CADENCE=m
CONFIG_MMC_SDHCI_MILBEAUT=m
CONFIG_MMC_SDHCI_OF_ARASAN=m
CONFIG_MMC_SDHCI_OF_AT91=m
CONFIG_MMC_SDHCI_OF_DWCMSHC=m
CONFIG_MODULE_ALLOW_BTF_MISMATCH=y
CONFIG_MOST_DIM2=m
CONFIG_MOXTET=m
CONFIG_MSCC_OCELOT_SWITCH=m
CONFIG_MTD_ABSENT=m
CONFIG_MTD_BLOCK_RO=m
CONFIG_MTD_CFI_INTELEXT=m
CONFIG_MTD_CFI_STAA=m
CONFIG_MTD_CMDLINE_PARTS=m
CONFIG_MTD_DATAFLASH=m
CONFIG_MTD_DATAFLASH_OTP=y
CONFIG_MTD_DOCG3=m
CONFIG_MTD_HYPERBUS=m
CONFIG_MTD_JEDECPROBE=m
CONFIG_MTD_LPDDR=m
CONFIG_MTD_MCHP23K256=m
CONFIG_MTD_MCHP48L640=m
CONFIG_MTD_NAND_ARASAN=m
CONFIG_MTD_NAND_CADENCE=m
CONFIG_MTD_NAND_CAFE=m
CONFIG_MTD_NAND_DENALI_DT=m
CONFIG_MTD_NAND_DENALI_PCI=m
CONFIG_MTD_NAND_DISKONCHIP=m
CONFIG_MTD_NAND_DISKONCHIP_BBTWRITE=y
CONFIG_MTD_NAND_GPIO=m
CONFIG_MTD_NAND_INTEL_LGM=m
CONFIG_MTD_NAND_MXIC=m
CONFIG_MTD_NAND_PLATFORM=m
CONFIG_MTD_NAND_RICOH=m
CONFIG_MTD_ONENAND=m
CONFIG_MTD_ONENAND_2X_PROGRAM=y
CONFIG_MTD_ONENAND_GENERIC=m
CONFIG_MTD_ONENAND_OTP=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_MTD_OOPS=m
CONFIG_MTD_PCI=m
CONFIG_MTD_PCMCIA=m
CONFIG_MTD_PCMCIA_ANONYMOUS=y
CONFIG_MTD_PHYSMAP=m
CONFIG_MTD_PHYSMAP_COMPAT=y
CONFIG_MTD_PHYSMAP_GEMINI=y
CONFIG_MTD_PHYSMAP_GPIO_ADDR=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_MTD_PHYSMAP_VERSATILE=y
CONFIG_MTD_PLATRAM=m
CONFIG_MTD_PMC551=m
CONFIG_MTD_PMC551_BUGFIX=y
CONFIG_MTD_REDBOOT_PARTS=m
CONFIG_MTD_SLRAM=m
CONFIG_MTD_SPI_NAND=m
CONFIG_MTD_SPI_NOR_SWP_KEEP=y
CONFIG_MTD_SST25L=m
CONFIG_MTD_SWAP=m
CONFIG_MTD_UBI_BLOCK=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_MUX_MMIO=m
CONFIG_NAMESPACES=y
CONFIG_NET_DSA_LANTIQ_GSWIP=m
CONFIG_NFSD_FLEXFILELAYOUT=y
CONFIG_NFS_V4_1_MIGRATION=y
CONFIG_NFTL=m
CONFIG_NFTL_RW=y
CONFIG_NTB_MSI_TEST=m
CONFIG_NTB_PERF=m
CONFIG_NTB_PINGPONG=m
CONFIG_NTB_TOOL=m
CONFIG_NVMEM_LAYOUT_ONIE_TLV=m
CONFIG_NVMEM_LAYOUT_SL28_VPD=m
CONFIG_NVMEM_REBOOT_MODE=m
CONFIG_NVMEM_SPMI_SDAM=m
CONFIG_NVMEM_U_BOOT_ENV=m
CONFIG_N_GSM=m
CONFIG_OF_FPGA_REGION=m
CONFIG_OF_OVERLAY=y
CONFIG_OPEN_DICE=m
CONFIG_OSF_PARTITION=y
CONFIG_P54_SPI_DEFAULT_EEPROM=y
CONFIG_PANEL=m
CONFIG_PATA_OF_PLATFORM=m
CONFIG_PATA_SIS=y
CONFIG_PC104=y
CONFIG_PC300TOO=m
CONFIG_PCI200SYN=m
CONFIG_PCIE_CADENCE_PLAT_EP=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_PCIE_DW_PLAT_EP=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_PCIE_XILINX=y
CONFIG_PCI_DYNAMIC_OF_NODES=y
CONFIG_PCI_ENDPOINT=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_PCI_EPF_MHI=m
CONFIG_PCI_EPF_NTB=m
CONFIG_PCI_EPF_VNTB=m
CONFIG_PCI_FTPCI100=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_PECI=m
CONFIG_PERCPU_STATS=y
CONFIG_PHYLIB=y
CONFIG_PHY_CADENCE_DPHY=m
CONFIG_PHY_CADENCE_DPHY_RX=m
CONFIG_PHY_CADENCE_SALVO=m
CONFIG_PHY_CADENCE_SIERRA=m
CONFIG_PHY_CADENCE_TORRENT=m
CONFIG_PHY_LAN966X_SERDES=m
CONFIG_PHY_MAPPHONE_MDM6600=m
CONFIG_PHY_OCELOT_SERDES=m
CONFIG_PINCTRL_AS3722=m
CONFIG_PINCTRL_AXP209=m
CONFIG_PINCTRL_LOCHNAGAR=m
CONFIG_PINCTRL_LOONGSON2=m
CONFIG_PINCTRL_MAX77620=m
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_PINCTRL_PALMAS=m
CONFIG_PINCTRL_PEF2256=m
CONFIG_PINCTRL_RK805=m
CONFIG_PINCTRL_SINGLE=m
CONFIG_PINCTRL_STMFX=m
CONFIG_PKCS7_TEST_KEY=y
CONFIG_PLATFORM_MHU=m
CONFIG_PM_AUTOSLEEP=y
CONFIG_PM_WAKELOCKS=y
CONFIG_POWER_RESET_AS3722=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_POWER_RESET_LTC2952=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
CONFIG_PPS=y
CONFIG_PREEMPT_TRACER=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PWM_ATMEL_HLCDC_PWM=m
CONFIG_PWM_ATMEL_TCB=m
CONFIG_PWM_FSL_FTM=m
CONFIG_PWM_NTXEC=m
CONFIG_PWM_STMPE=y
CONFIG_PWM_XILINX=m
CONFIG_PWRSEQ_SD8787=m
CONFIG_QCA7000_SPI=m
CONFIG_QCA7000_UART=m
CONFIG_QCOM_PMIC_GLINK=m
CONFIG_QCOM_SPMI_ADC5=m
CONFIG_QCOM_SPMI_IADC=m
CONFIG_QCOM_SPMI_VADC=m
CONFIG_QNX4FS_FS=m
CONFIG_QNX6FS_FS=m
CONFIG_QUOTA_DEBUG=y
CONFIG_RANDOM_KMALLOC_CACHES=y
CONFIG_RAPIDIO=m
CONFIG_RAPIDIO_CHMAN=m
CONFIG_RAPIDIO_CPS_GEN2=m
CONFIG_RAPIDIO_CPS_XX=m
CONFIG_RAPIDIO_DMA_ENGINE=y
CONFIG_RAPIDIO_ENABLE_RX_TX_PORTS=y
CONFIG_RAPIDIO_ENUM_BASIC=m
CONFIG_RAPIDIO_MPORT_CDEV=m
CONFIG_RAPIDIO_RXS_GEN3=m
CONFIG_RAPIDIO_TSI721=m
CONFIG_RCU_EQS_DEBUG=y
CONFIG_REGULATOR_ACT8945A=m
CONFIG_REGULATOR_AS3722=m
CONFIG_REGULATOR_BD71815=m
CONFIG_REGULATOR_BD71828=m
CONFIG_REGULATOR_BD718XX=m
CONFIG_REGULATOR_BD957XMUF=m
CONFIG_REGULATOR_CPCAP=m
CONFIG_REGULATOR_DA9063=m
CONFIG_REGULATOR_DA9121=m
CONFIG_REGULATOR_FAN53880=m
CONFIG_REGULATOR_HI6421=m
CONFIG_REGULATOR_HI6421V530=m
CONFIG_REGULATOR_HI6421V600=m
CONFIG_REGULATOR_LOCHNAGAR=m
CONFIG_REGULATOR_LP873X=m
CONFIG_REGULATOR_LP87565=m
CONFIG_REGULATOR_MAX5970=m
CONFIG_REGULATOR_MAX77620=m
CONFIG_REGULATOR_MAX77650=m
CONFIG_REGULATOR_MAX77686=m
CONFIG_REGULATOR_MAX77802=m
CONFIG_REGULATOR_MAX8973=m
CONFIG_REGULATOR_MCP16502=m
CONFIG_REGULATOR_MP5416=m
CONFIG_REGULATOR_MP886X=m
CONFIG_REGULATOR_MPQ7920=m
CONFIG_REGULATOR_MT6315=m
CONFIG_REGULATOR_PF8X00=m
CONFIG_REGULATOR_PFUZE100=m
CONFIG_REGULATOR_QCOM_LABIBB=m
CONFIG_REGULATOR_QCOM_SPMI=m
CONFIG_REGULATOR_QCOM_USB_VBUS=m
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY=m
CONFIG_REGULATOR_RK808=m
CONFIG_REGULATOR_RN5T618=m
CONFIG_REGULATOR_S2MPA01=m
CONFIG_REGULATOR_S2MPS11=m
CONFIG_REGULATOR_S5M8767=m
CONFIG_REGULATOR_STPMIC1=m
CONFIG_REGULATOR_SY8106A=m
CONFIG_REGULATOR_SY8824X=m
CONFIG_REGULATOR_SY8827N=m
CONFIG_REGULATOR_TPS6286X=m
CONFIG_REGULATOR_TPS6287X=m
CONFIG_REGULATOR_TPS65217=m
CONFIG_REGULATOR_TPS65218=m
CONFIG_REGULATOR_TPS65219=m
CONFIG_REGULATOR_VCTRL=m
CONFIG_RESET_ATTACK_MITIGATION=y
CONFIG_RESET_SIMPLE=y
CONFIG_RFD_FTL=m
CONFIG_RFKILL_INPUT=y
CONFIG_RIONET=m
CONFIG_RMI4_F54=y
CONFIG_RN5T618_ADC=m
CONFIG_RN5T618_POWER=m
CONFIG_RN5T618_WATCHDOG=m
CONFIG_ROADRUNNER=m
CONFIG_ROADRUNNER_LARGE_RINGS=y
CONFIG_ROCKCHIP_PHY=m
CONFIG_RTC_DRV_AS3722=m
CONFIG_RTC_DRV_BD70528=m
CONFIG_RTC_DRV_CADENCE=m
CONFIG_RTC_DRV_CPCAP=m
CONFIG_RTC_DRV_EFI=m
CONFIG_RTC_DRV_HYM8563=m
CONFIG_RTC_DRV_ISL12026=m
CONFIG_RTC_DRV_LOONGSON=m
CONFIG_RTC_DRV_MAX77686=m
CONFIG_RTC_DRV_NCT3018Y=m
CONFIG_RTC_DRV_NTXEC=m
CONFIG_RTC_DRV_R7301=m
CONFIG_RTC_DRV_RC5T619=m
CONFIG_RTC_DRV_RK808=m
CONFIG_RTC_DRV_S5M=m
CONFIG_RTC_DRV_TWL4030=m
CONFIG_RTC_DRV_ZYNQMP=m
CONFIG_RV=y
CONFIG_RV_MON_WIP=y
CONFIG_RV_MON_WWNR=y
CONFIG_SATA_DWC_OLD_DMA=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_SCSI_UFS_DWC_TC_PCI=m
CONFIG_SCSI_UFS_DWC_TC_PLATFORM=m
CONFIG_SDR_MAX2175=m
CONFIG_SDR_PLATFORM_DRIVERS=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_SENSORS_GPIO_FAN=m
CONFIG_SENSORS_GSC=m
CONFIG_SENSORS_LOCHNAGAR=m
CONFIG_SENSORS_LTC2978_REGULATOR=y
CONFIG_SENSORS_OCC_P9_SBE=m
CONFIG_SENSORS_PECI_CPUTEMP=m
CONFIG_SENSORS_PECI_DIMMTEMP=m
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=m
CONFIG_SERIAL_LITEUART=m
CONFIG_SERIAL_OF_PLATFORM=m
CONFIG_SERIAL_SIFIVE=m
CONFIG_SERIAL_XILINX_PS_UART=m
CONFIG_SERIO_APBPS2=m
CONFIG_SGETMASK_SYSCALL=y
CONFIG_SGI_PARTITION=y
CONFIG_SM_FTL=m
CONFIG_SND_AUDIO_GRAPH_CARD2=m
CONFIG_SND_AUDIO_GRAPH_CARD2_CUSTOM_SAMPLE=m
CONFIG_SND_AUDIO_GRAPH_CARD=m
CONFIG_SND_BCM63XX_I2S_WHISTLER=m
CONFIG_SND_SERIAL_GENERIC=m
CONFIG_SND_SOC_CPCAP=m
CONFIG_SND_SOC_FSL_ASRC=m
CONFIG_SND_SOC_FSL_AUDMIX=m
CONFIG_SND_SOC_FSL_EASRC=m
CONFIG_SND_SOC_FSL_ESAI=m
CONFIG_SND_SOC_FSL_MICFIL=m
CONFIG_SND_SOC_FSL_MQS=m
CONFIG_SND_SOC_FSL_RPMSG=m
CONFIG_SND_SOC_FSL_SAI=m
CONFIG_SND_SOC_FSL_SPDIF=m
CONFIG_SND_SOC_FSL_SSI=m
CONFIG_SND_SOC_IMX_AUDMUX=m
CONFIG_SND_SOC_LOCHNAGAR_SC=m
CONFIG_SND_SOC_LOONGSON_CARD=m
CONFIG_SND_SOC_MIKROE_PROTO=m
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=m
CONFIG_SND_SOC_RK817=m
CONFIG_SND_SOC_SDW_MOCKUP=m
CONFIG_SND_SOC_SOF_OF=m
CONFIG_SND_SOC_SSM3515=m
CONFIG_SOFT_WATCHDOG_PRETIMEOUT=y
CONFIG_SPI_CADENCE_XSPI=m
CONFIG_SPI_FSI=m
CONFIG_SPI_FSL_SPI=m
CONFIG_SPI_LOONGSON_PCI=m
CONFIG_SPI_LOONGSON_PLATFORM=m
CONFIG_SPI_SN_F_OSPI=m
CONFIG_SPMI=m
CONFIG_SPMI_HISI3670=m
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
CONFIG_SRAM=y
CONFIG_SSFDC=m
CONFIG_STMMAC_SELFTESTS=y
CONFIG_STMPE_ADC=m
CONFIG_STMPE_SPI=y
CONFIG_STPMIC1_WATCHDOG=m
CONFIG_SUN_PARTITION=y
CONFIG_SVC_I3C_MASTER=m
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_SYSCON_REBOOT_MODE=m
CONFIG_SYSV68_PARTITION=y
CONFIG_SYSV_FS=m
CONFIG_TAHVO_USB_HOST_BY_DEFAULT=y
CONFIG_TCP_CONG_CUBIC=m
CONFIG_THERMAL_EMULATION=y
CONFIG_THERMAL_MMIO=m
CONFIG_THERMAL_STATISTICS=y
CONFIG_TI_CPSW_PHY_SEL=y
CONFIG_TLS_TOE=y
CONFIG_TOUCHSCREEN_AR1021_I2C=m
CONFIG_TOUCHSCREEN_CHIPONE_ICN8318=m
CONFIG_TOUCHSCREEN_EGALAX=m
CONFIG_TOUCHSCREEN_IMX6UL_TSC=m
CONFIG_TOUCHSCREEN_STMPE=m
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
CONFIG_UCSI_PMIC_GLINK=m
CONFIG_UEVENT_HELPER=y
CONFIG_UFS_FS_WRITE=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_UNIXWARE_DISKLABEL=y
CONFIG_USB4_DMA_TEST=m
CONFIG_USB_AIRSPY=m
CONFIG_USB_DYNAMIC_MINORS=y
CONFIG_USB_GADGET_XILINX=m
CONFIG_USB_HACKRF=m
CONFIG_USB_MSI2500=m
CONFIG_USB_NET2272_DMA=y
CONFIG_USB_ONBOARD_DEV=m
CONFIG_USB_OTG=y
CONFIG_USB_OTG_FSM=m
CONFIG_USB_SERIAL_SAFE_PADDED=y
CONFIG_USB_SL811_HCD_ISO=y
CONFIG_USB_SNP_UDC_PLAT=m
CONFIG_USELIB=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_VCPU_STALL_DETECTOR=m
CONFIG_VFIO_NOIOMMU=y
CONFIG_VIDEO_ADV7180=m
CONFIG_VIDEO_ADV7183=m
CONFIG_VIDEO_ADV7343=m
CONFIG_VIDEO_ADV7393=m
CONFIG_VIDEO_ADV748X=m
CONFIG_VIDEO_ADV7604=m
CONFIG_VIDEO_ADV7604_CEC=y
CONFIG_VIDEO_ADV7842=m
CONFIG_VIDEO_ADV7842_CEC=y
CONFIG_VIDEO_ADV_DEBUG=y
CONFIG_VIDEO_AK881X=m
CONFIG_VIDEO_DS90UB913=m
CONFIG_VIDEO_DS90UB953=m
CONFIG_VIDEO_DS90UB960=m
CONFIG_VIDEO_FB_IVTV=m
CONFIG_VIDEO_FIXED_MINOR_RANGES=y
CONFIG_VIDEO_I2C=m
CONFIG_VIDEO_IMX334=m
CONFIG_VIDEO_IMX335=m
CONFIG_VIDEO_IMX412=m
CONFIG_VIDEO_IMX415=m
CONFIG_VIDEO_ISL7998X=m
CONFIG_VIDEO_MAX9286=m
CONFIG_VIDEO_MAX96712=m
CONFIG_VIDEO_ML86V7667=m
CONFIG_VIDEO_MUX=m
CONFIG_VIDEO_OV5640=m
CONFIG_VIDEO_OV5645=m
CONFIG_VIDEO_OV9282=m
CONFIG_VIDEO_ST_MIPID02=m
CONFIG_VIDEO_ST_VGXY61=m
CONFIG_VIDEO_TC358743=m
CONFIG_VIDEO_TC358743_CEC=y
CONFIG_VIDEO_TC358746=m
CONFIG_VIDEO_TDA1997X=m
CONFIG_VIDEO_THS7303=m
CONFIG_VIDEO_THS8200=m
CONFIG_VIDEO_TLV320AIC23B=m
CONFIG_VIDEO_TVP514X=m
CONFIG_VIDEO_TVP7002=m
CONFIG_VIDEO_TW9900=m
CONFIG_VIDEO_TW9910=m
CONFIG_VIDEO_XILINX=m
CONFIG_VIDEO_XILINX_CSI2RXSS=m
CONFIG_VIDEO_XILINX_TPG=m
CONFIG_VIDEO_ZORAN=m
CONFIG_VIDEO_ZORAN_AVS6EYES=y
CONFIG_VIDEO_ZORAN_BUZ=y
CONFIG_VIDEO_ZORAN_DC10=y
CONFIG_VIDEO_ZORAN_DC30=y
CONFIG_VIDEO_ZORAN_LML33=y
CONFIG_VIDEO_ZORAN_LML33R10=y
CONFIG_VIDEO_ZORAN_ZR36060=y
CONFIG_VME_BUS=y
CONFIG_VME_TSI148=m
CONFIG_VME_USER=m
CONFIG_VMGENID=m
CONFIG_VMLINUX_MAP=y
CONFIG_VXFS_FS=m
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_WAN=y
CONFIG_WANXL=m
CONFIG_WATCHDOG_HRTIMER_PRETIMEOUT=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=m
CONFIG_WILC1000_HW_OOB_INTR=y
CONFIG_WLCORE_SPI=m
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_WQ_WATCHDOG=y
CONFIG_X25=m
CONFIG_XILINX_INTC=y
CONFIG_XILINX_ZYNQMP_DPDMA=m
CONFIG_XILLYBUS_OF=m
CONFIG_XIL_AXIS_FIFO=m
CONFIG_ZERO_CALL_USED_REGS=y
